<h1>TO DO</h1>
<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    
    <input type="submit" name="Create Task" value="Create Task">
</form> 
{% for task in tasks %}
    <div>
        {% if task.complete == True %}
            <strike><h3>{{task}}</h3></strike>
            <p><span>status :  completed </span></p>
        {% else %}
            <span><h3>{{task}}</h3></span>
            <p><span>status :  uncompleted </span></p>
        {% endif %}
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>
        <p>Task Created : {{task.created}}</p>
        {% if task.update == True %}
            <p>Last Update : {{task.updated}}</p>
        {% else %}
            <p>Last Update : Doesn't updated</p>
        {%endif%}
    </div>
{% endfor %}

